@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  /* Font Families */
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-bricolage-grotesque: 'Bricolage Grotesque', sans-serif;
}

@theme {
  /* Font Variables */
  --font-dm-sans: var(--font-dm-sans);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);

  /* Box Shadow */
  --shadow-md: 0 8px 16px hsla(243, 96%, 9%, 0.32);
}

@theme inline {
  /* Max Width */
  --container: 76rem; /* 1216px */

  /* Colors - Neutral */
  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  /* Colors - Orange */
  --color-orange-500: hsl(28, 100%, 52%);

  /* Colors - Blue */
  --color-blue-700: hsl(248, 70%, 36%);
  --color-blue-500: hsl(233, 67%, 56%);

  /* Typography */
  --text-2xl: 1.75rem; /* 28px */
  --text-3xl: 2rem; /* 32px */
  --text-5xl: 3.25rem; /* 52px */

  /* Line Height */
  --leading-tight: 1.2;

  /* Letter Spacing */
  --tracking-tight: -2px;
}
